* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

//NAVIGATION
nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #787E65;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    ul {
        padding-left: 1em;
        padding-right: 1em;
        // width: clamp(330px, 90%, 500px);
        width: 98%;
        height: 3em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {
            list-style: none;
        }

        .logo {
            width: 2.4em;
        }

        .logoFill{
            stroke: #DBD189;
        }
    }
}

//MAIN
main {
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//GRID
.grid {
    padding-left: 1em;
    padding-right: 1em;
    height: 95%;
    // width: clamp(330px, 90%, 500px);
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 3.5em;
    grid-template-rows: 1fr 3em;
    grid-template-areas: 
    'content notes'
    'nav nav';
}

//CONTENT
.content {
    grid-area: content;
    position: relative;
    // background: red;

    .title {
        
        h1 {
            font-family: helvetica;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 0.85em;
            letter-spacing: .08em;
            color: #5e634f;
            opacity: 80%;

            .scale {
                line-height: 1.4em;
            }
        }

        p {
            font-family: helvetica;
            font-weight: 500;
            font-size: .6rem;
            color: salmon;
            letter-spacing: .12em;
            position: absolute;
            bottom: 0;
        }
    }
}

//NOTES
.notes {
    grid-area: notes;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .noteText {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
            margin-top: .35em;
            margin-bottom: .35em;
            font-family: helvetica;
            font-weight: 300;
            font-size: .8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            color: #8A8A8A;
        }
    }

    .circles {

        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .colourCircles {
            position: absolute;
            height: 100%;
            width: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;   
            cursor: pointer; 
        }

        .greyCircles {
            position: absolute;
            height: 100%;
            width: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            z-index: -1;
        }
    }
}

//JS
.mute {
    opacity: 0;
}

.unmute {
    opacity: 100%;
    transition: .8s;
}
